html{
    background-color: #202020;
    max-height: 100vh;
    max-width: 100vw;
    min-width: 536px;
}

body{
    margin: -40px 0 0;
    padding: 0;
}

header{
    background-color: #3CB572;
    padding: 75px 0 50px;
    text-align: center;
}

#content{
    margin: 50px auto;
    max-width: 900px;
    width: 80vw;
}

h2, h1{
    color: #3CB572;
    font-family: "Poiret One", cursive;
    font-size: 2em;
    margin: 0;
    text-align: center;
}

hr{
    border-color: #3CB572;
    margin: 20px 0;
}

p, ul, label{
    color: #808080;
    font-family: "Montserrat", sans-serif;
}

a, button{
    background-color: transparent;
    border: 2px solid #005031;
    border-radius: 7px;
    color: #005031;
    font-size: 1.15em;
    font-family: "Montserrat", sans-serif;
    margin: 0 3px; 
    padding: 1px 5px;
    text-decoration: none;
}

a:hover, button:hover{
    animation: linkHover 200ms forwards;
}

@keyframes linkHover{
    to{
        color: white;
    }
}

h1{
    color: #202020;
    font-size: 2.5em;
    margin-bottom: 25px;
}

.articleLink{
    animation-name: none;
    border: none;
    color: #437E5E;
    font-family: "Poiret One", cursive;
    font-size: 1.3em;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.articleLink:hover{
    animation: articleLinkHover 150ms forwards;
}

@keyframes articleLinkHover{
    to{
        color: #3CB572;
    }
}

.articleBox{
    border: 1px solid #437E5E;
    border-radius: 10px;
    margin: 25px 0;
    padding: 0 10px;
    width: calc(100% - 22px)
}

form{
    display: inline-block;
}

.articleMeta{
    font-size: 0.8em;
    color: #606060;
    margin: 3px 0;
}

h3{
    color: #437E5E;
    font-family: "Poiret One", cursive;
    text-align: center;
    margin: 20px 0 0;
}

#error{
    color: #C03E39;
}

#passwordForm{
    align-items: center;
    border: 1px solid #437E5E;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px 10px;
    margin: 0 0 20px;
    width: calc(100% - 22px);
}

input{
    margin-bottom: 5px;
}

#deleteForm{
    width: 100%;
    margin-bottom: 10px;
}

#passwordFormButton, #deleteFormButton{
    display: block;
    margin: auto;
}

#passwordFormButton{
    border: 2px solid #437E5E;
    color: #437E5E;
    margin-top: 5px;
}

#deleteFormButton{
    border: 2px solid #C03E39;
    color: #C03E39;
    margin-bottom: 25px;
}