html{
    background-color: #202020;
    max-height: 100vh;
    max-width: 100vw;
}
body{
    margin: -40px 0 0;
    padding: 0;
}

header{
    background-color: #3CB572;
    padding: 75px 0 50px;
    text-align: center;
}

#content{
    margin: 50px auto;
    max-width: 900px;
    width: 80vw;
}

h2, h1{
    color: #3CB572;
    font-family: "Poiret One", cursive;
    font-size: 2em;
    margin: 0;
    text-align: center;
}

hr{
    border-color: #3CB572;
    margin: 20px 0;
}

p, ul, form{
    color: #808080;
    font-family: "Montserrat", sans-serif;
}

.navButton, button{
    background-color: transparent;
    border: 2px solid #005031;
    border-radius: 7px;
    color: #005031;
    font-size: 1.15em;
    font-family: "Montserrat", sans-serif;
    margin: 0 3px; 
    padding: 1px 5px;
    text-decoration: none;
}

.navButton:hover, button:hover, #submitButton:hover{
    animation: linkHover 200ms forwards;
}

@keyframes linkHover{
    to{
        color: white;
    }
}

h1{
    color: #202020;
    font-size: 2.5em;
    margin-bottom: 25px;
}

form{
    display: inline-block;
}

.formButton{
    border: 2px solid #3CB572;
    border-radius: 10px;
    color: #3CB572;
}

label{
    margin-bottom: 5px;
}

input, textarea{
    margin-bottom: 15px;
    padding: 5px 2px;
}

#editForm{
    align-items: left;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 25px 5vw 15px;
}

#editFormButton{
    align-self: center;
    width: 100%;
}

#deleteForm{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 5vw;
}

#deleteFormButton{
    border: 2px solid #D91E18;
    color: #D91E18;
    margin: 0;
    padding: 0;
    width: 100%;
}

input[type="checkbox"]{
    margin: 5px 0;
}

label[for="picture-clear_id"]{
    position: absolute;
    margin-left: 18px;
    margin-top: 75px;
}
 
#forms{
    border: 2px solid #3CB572;
    border-radius: 10px;
    padding-bottom: 25px;
}