{% extends 'baseTemplate.html' %}
{% load static %}

{% block head %}
  <title>Hello, World: Articles</title>
  <link rel="stylesheet" href="{% static 'articleListTheme.css' %}">
{% endblock %}

{% block content%}
  <h2>Article List</h2>
  <hr>
  {% for article in articles %}
    <div class="articleBox">
      <p><a href="{% url 'articles:articleDetail' slug=article.slug %}" class="articleLink">{{article.title}}</a></p>
      <p class="articleMeta">Published: {{article.dateP}}</p>
      <p class="articleMeta">Last Updated: {{article.dateE}}</p>
      <p class="articleMeta">Author: {{article.author}}</p>
      <p>{{article.getSnippet}}</p>
    </div>
  {% endfor %}
{% endblock %}
