<html>
  <head>
    <meta charset="utf-8">
    <title>About This Blog</title>
  </head>
  <body>
    <header>
      <h1>Hello, World: A Project Blog</h1>
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Articles</a>
        <a href="#">Contact</a>
      </nav>
    </header>
    <section>
      <p>Hi, I'm Bianca! This blog is here to showcase my personal projects and class projects.
        The blog itself is a project created out of a desire to learn Django, and uses the Django tutorials
        from TheNetNinja as reference. Feel free to look around and see what I'm up to these days!
      </p>
    </section>
  </body>
</html>