{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello, World: A Project Blog</title>
    <link rel="stylesheet" href="{% static 'homeTheme.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Hello, World: A Project Blog</h1>
    <h2>Create. Share. Explore.</h2>
    <a href="#">Sign Up</a>
    <a href="#">Log In</a>
    <a href="about">About</a>
    <a href="articles">Articles</a>
  </body>
</html>
